h1 {
    color: #274546;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    font-style: italic;
}
h2 {
    text-align: center;
    color: #274546;
}
h3 {
    text-align: center;
    color: #274546;

}
p {
    text-align: center;
    color: #274546;
}
body {
    background-color: #e3e3db;
}
p {
    color:#274546;
}
img {
    border: 5px solid #274546;
}
footer {
    text-align: center;
    background-color: #f3f3f3;
    padding: 10px;
    border-top: 1px solid #ccc;
}

