h1 {
    color: #274546;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    font-style: italic;
}

h2, h3, h4 {
    text-align: center;
    color: #274546;
    

}
p {
    text-align: center;
    color: #274546;
}
body {
    background-color: #e3e3db;
}

.site-name {
    text-align: center;
    font-family: "Merriweather", serif;
    font-style: bold;
    
}

 img {
    display: inline-block;
    max-height: 200px;
    max-width: 200px;
    border: 5px solid #274546;
}
footer {
    text-align: center;
    background-color: #f3f3f3;
    padding: 10px;
    border-top: 1px solid #ccc;
}
.button{
    background-color: #274546;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
    text-align: center;
  }
